.git
.gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version
.pytest_cache/
.venv/
venv/
env/

tests/
starter/

README.md
report.md
questions.md

Dockerfile
docker-compose.yml

.idea/
.vscode/

*.log